.full-height {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.title-main {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.top-titles {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: center;
}

.pin-scene {
    color: #f8f8f8;
}

.bg-image {
    position: fixed;
    background: url("../img/film2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

.dude {
    z-index: 3;
    position: fixed;
    bottom: 0px;
    left: -80%;
    width: 130%;
}

.dude img {
    max-width: 100%;
}

.s-inner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-line {
    height: 80px;
    border-left: #333 dashed 1px;
    position: relative;
    left: 50%;
}

.scroll-line h6 {
    position: relative;
    display: inline-block;
    transform: translateX(-50%) rotate(90deg);
    top: 78px;
}

img.brain {
    width: 150px;
}


@media only screen and (min-width: 768px) {
    
    .dude {
        width: 50%;
        bottom: -20px;
        left: 0;
    }
}
































